[Unit]
Description=hd-idle service
After=syslog.target network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hd-idle.sh start
ExecStop=/usr/local/bin/hd-idle.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target


